# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project Specific
model.npz
dataset/
